table{
  table-layout: fixed;
  border: solid 1px #ccc;
  font-size: 14px;
  width:100%
}
th {
  font-size: 14px;
  border: solid 1px #808080;
  font-weight: bold;
  padding: 1px;
  background-color: #a5c4e8;
  text-align: center;
}
td{
  border: solid 1px #ccc;
  padding: 5px;
  /*内容过多时自动换行*/
  word-wrap: break-word;
}
