table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  table-layout:fixed;
}
th {
  font-size: 14px;
  border: solid 1px #808080;
  font-weight: bold;
  padding: 5px;
  background-color: #edebe2;
  text-align: center;
  position:-webkit-sticky;
  position:sticky;
  width:30px;
}
td{
  border: solid 1px #ccc;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  word-wrap: break-word;
}
